h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

.btn-primary {
  background-color: #127a38;
  border-color: #127a38;
}

.btn-primary:active {
  background: #0A4520;
}

.container {
 position: relative;
}

#user {
 position: absolute;
 top: -300%;
 right: 56%;
 transform: translate(89%, 40%);
}

#password {
 position: absolute;
 top: 70%;
 right: 50%;
 transform: translate(35%, 60%);
}

#comboConta {
  width: 130px; 
  margin-top: 5px; 
  margin-bottom: 20px;
}

#loginBttn {
 transform: translate(5%, 100%);
 width: 100px;
 background-color: #127a38;
}

#legenda {
  position: absolute;
  font-size: 15px;
  width: 250px;
  transform: translate(-25%, 210%);
}

#quemSomos {
 position: absolute;
 top: 70%;
 right: 50%;
 transform: translate(-5%, 1000%);
}